Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^robots.txt - [L]
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^css/(.*)$ web/css/$1 [L]
RewriteRule ^fonts/(.*)$ web/fonts/$1 [L]
RewriteRule ^js/(.*)$ web/js/$1 [L]
RewriteRule ^upload/(.*)$ web/upload/$1 [L]
RewriteRule ^images/(.*)$ web/images/$1 [L]
RewriteRule ^favs/(.*)$ web/favs/$1 [L]
RewriteRule ^docs/(.*)$ web/docs/$1 [L]
RewriteRule (.*) /web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php